@keyframes animation1 {
  0% {
    color: green;
  }

  50% {
    color: black
  }

  100% {
    color: green;
  }
}

@keyframes animation2 {
  0% {
    color: black;
  }

  50% {
    color: green
  }

  100% {
    color: black;
  }
}

html {
  overflow-x: hidden;
  width: 100%;
  height: 100vh;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./assets/polvo-de-estrellas.a57357e1.gif);
}

.loading-screen {
  width: 100%;
  height: 100vh;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  background-image: url(./assets/polvo-de-estrellas.a57357e1.gif);
  background-attachment: fixed;
  font-family: 'Ubuntu', sans-serif;
}

header {
  width: 100vw;
  height: 23rem;
  background-image: url('assets/rick.jpg');
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  background-size: cover;
  justify-content: center;
  align-items: flex-end;

}

.input {
  display: flex;
  justify-content: center;
  align-items: top;
  width: 100%;
  gap: 30px;
  margin: 50px 0;
  position: sticky;
  top: 10px;
  z-index: 1;
}

@media (max-width:750px) {
  .input {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    position: relative;
  }
}

.input input {
  width: 100%;
  height: 50px;
  font-size: 30px;
  border-radius: 10px;
  padding: 0 15px;

}

.input button {
  cursor: pointer;
  transform: scale(1);
  transition: all 0.2s ease-in;
  color: #ffffff;
  height: 50px;
  width: 150px;
  font-size: 18px;
  padding: 5px;
  background-color: #062226;
  border: 2px solid #3bae44;
}

.input button:hover {
  transform: scale(1.1);
  background-color: #3bae44;
  color: black;
  border: 3px solid #062226;
}

.searchBox {
  width: 60%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.suggestions {
  width: 100%;
  background-color: #062226;
  border: 2px solid #3bae44;
  border-radius: 0px 0px 10px 10px;
  cursor: pointer;
}

h2 {
  margin: 1rem 0;
  color: green;
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #0fa,
    0 0 82px #0fa,
    0 0 92px #0fa,
    0 0 102px #0fa,
    0 0 151px #0fa;
  animation-name: animation1;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@media (max-width:480px) {
  h2 {
    margin: 0;
  }
}

h3 {
  margin: 1rem 0;
}

p {
  margin: 0;
}

.planet-info {
  display: flex;
  justify-content: center;
  align-items: top;
  flex-direction: row;
  width: 100vw;
  gap: 3rem;
  text-align: start;
  margin: 0;
  padding: 1rem 0;
  background: #062226;
  color: #ffffff;
  border-radius: 10px;
  text-align: center;
}

.planet1,
.planet2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}

@media (max-width: 750px) {

  .planet1,
  .planet2 {
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
  }
}

@media (max-width: 480px) {
  .planet-info {
    flex-direction: column;
    gap: 1rem;
  }
}


.planet-info p {
  font-size: 20px;
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #0fa,
    0 0 82px #0fa,
    0 0 92px #0fa,
    0 0 102px #0fa,
    0 0 151px #0fa;
  animation-name: animation2;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  color: black;
}



.cards {
  display: grid;
  width: 100vw;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  margin: 0;
  padding: 0;
}

@media (max-width: 1100px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 750px) {
  .cards {
    grid-template-columns: repeat(1, 1fr);
  }
}

.character-card {
  background-color: #062226;
  width: 300px;
  padding: 1rem;
  text-align: start;
  border-radius: 10px;
  border: 2px solid #3bae44;
  transform: scale(1);
  transition: all .2s ease-in;
  margin-bottom: 50px;
}

.character-card:hover {
  scale: 1.02;
  transition: .4s;
}

.character-card h3 {
  color: white;
}

.character-card p {
  color: grey;
  font-size: 18px
}

.separator {
  width: 100%;
  height: 2px;
  background-color: #ffffff
}

.footer {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}